crates/mfd/tests/fixtures/exception-source.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Expenses">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Expense" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Allowed" type="xs:boolean"/>
              <xs:element name="Description" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
