crates/mfd/tests/fixtures/generic-elements-source.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Alpha" type="RecordType"/>
              <xs:element name="Beta" type="RecordType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RecordType">
    <xs:sequence>
      <xs:element name="Label" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
