crates/mfd/tests/fixtures/includes-target-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TargetLineType">
    <xs:sequence>
      <xs:element name="Code" type="xs:string"/>
      <xs:element name="Amount" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
