crates/mfd/tests/fixtures/inventory-target.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Report">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Store" type="xs:string"/>
        <xs:element name="Line" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Product" type="xs:string"/>
              <xs:element name="Count" type="xs:int"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
