crates/mfd/tests/fixtures/simple-content-target.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PriceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Entry" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Label" type="xs:string"/>
              <xs:element name="Amount">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                      <xs:attribute name="currency" type="xs:string"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
