crates/mfd/tests/fixtures/temps-target.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Report">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="YearlyStats" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Year" type="xs:string"/>
              <xs:element name="MinTemp" type="xs:decimal"/>
              <xs:element name="MaxTemp" type="xs:decimal"/>
              <xs:element name="AvgTemp" type="xs:decimal"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
