crates/mfd/tests/fixtures/xlsx-grid-target.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Report">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Period" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Sale" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="Region" type="xs:string"/>
                  <xs:attribute name="Amount" type="xs:decimal"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Month" type="xs:string"/>
            <xs:attribute name="Column" type="xs:integer"/>
            <xs:attribute name="Year" type="xs:string"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
